@use 'variables' as *;

.footer-content{
    padding: 100px 0;
    background-color: $color-5;
    .wrapper{
        width:80%;
        margin: 0 auto;
        display: flex;
    }
    nav {
        ul{
            flex-direction: column;
        }
        a{
            color: $color-3;
            text-align: right;
            font-family: $font-family1;
            font-size: 25px;
            margin:0;
        }
    }
}
.contact{
    padding: 0 10%;
}
.form{
    flex-basis: 50%;
    /*Removes white space between inline block elements*/
    font-size:0;
    /*Targets email form*/
    input[type=email]{
        width: 80%;
        padding: 20px 20px;
        border: 2px solid $color-4;
    }
    /*Targets Subscribe Button*/
    input[type=subscribe]{
        width:20%;
        height: 45px;
        font-size: 20px;
        font-family: $font-family1;
        color: $color-1;
        background-color: $color-4;
        border: none;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
    }
}

.copyright{
    padding: 15px 0;
    background-color: $color-1;
    p{
        color: white;
        text-align: center;
    }
}
