@use 'variables' as *;

span{
    display:block;
}

/*Social Media Icon Size*/
.fa-brands{
    font-size: 30px;
    margin:0;
}

.icons{
    display:flex;
    flex-direction: column;
    /*Positions Social Media Icons to the right*/
    ul{
        position: absolute;
        top: 120px;
        right: 50px;
    }
    /*Adds spacing between social media icons*/
    li{
        padding: 10px;
    }
    margin:0;
}

nav{
    ul{
        display:flex;
        justify-content: right;
    }
    a{
        color:$fontcolor1;
        font-family: $font-family3;
        background-color: transparent;
        font-size: 18px;
        line-height: 29px;
        text-align:center;
        display: inline-block;
        width:100%;
        padding: 0px 20px 15px 20px;
        /*Removes the underline*/
        text-decoration: none;
        text-align: center; 
    }
}