@use 'variables' as *;

h1 {
    background-color: $backgroundcolor1;
    font-style: $fontStyle1;
    color: $fontcolor3;
}

nav{
    background-color: $backgroundcolor2;
    font-style: $fontStyle1;
    color: $fontcolor1;
    ul{
        background-color: $backgroundcolor2;
        font-style: $fontStyle1;
        color: $fontcolor1;
        li{
            background-color: $backgroundcolor2;
            font-style: $fontStyle1;
            color: $fontcolor1;
        }
    }
}