@use 'variables' as *;

/*Customizing Gallery Section for NEWS APPLIANCES*/
.gallery{
    background-color: $backgroundcolor3;
    h3{
        text-align: center;
        padding: 100px 0 70px 0;
    }
    ul{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }
    li{
        flex-basis:30%;
    }
    img{
        width:100%;
        height:auto;
        display:block;
        padding: 10px;
    }
}

.button{
    width: 130px;
}

p{
    color: $fontcolor2;
    font-family: $font-family2;
    font-size:20px;
    letter-spacing: 0.2px;
}

a{
    display: inline-block;
    width:100%;
    font-size: 20px;
    line-height: 29px;
    color:$fontcolor1;
    background-color: $backgroundcolor1;
    padding: 15px 10px;
    text-decoration: none;
    text-align: center;
}

.best{
    padding: 100px 0;
    background-color: $backgroundcolor3;
    .wrapper{
        display:flex;
    }
    .imageContainer{
        margin-right:40px;
    }
    a{
        color:white;
        background-color: $fontcolor1;
    }
}

.smoothies{
    background-color: $backgroundcolor2;
    .wrapper{
        width:100%;
        display:flex;
    }
    .textContainer{
        margin: 0 10%;
        padding: 100px 0 0 0;
    }
}

.home{
    background-color: $backgroundcolor2;
    .wrapper{
        width:100%;
        display:flex;
    }
    .textContainer{
        margin: 0 10%;
        padding: 100px 0 0 0;
    }
}

/*icon gallery size*/
.fa-solid{
    font-size: 50px;
    color: $fontcolor1;
    margin:0;
}

.icongallery{
    background-color: $backgroundcolor3;
    ul{
        padding: 100px 0;
        display:flex;
        justify-content: space-between;
        text-align: center;
    }
    li{
        flex-basis:30%;
    }
    img{
        width:100%;
        height:auto;
        display:block;
        padding: 10px;
    }
    p{
        font-size: 31.2px;
    }
}