@use 'variables' as *;

/*Customizing Gallery Section for NEWS APPLIANCES*/
.gallery{
    background-color: $color-6;
    h3{
        text-align: center;
        padding: 100px 0 70px 0;
    }
    ul{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }
    li{
        flex-basis:30%;
    }
    img{
        width:100%;
        height:auto;
        display:block;
        padding: 10px;
    }
}

.best{
    padding: 100px 0;
    background-color: $color-6;
    .wrapper{
        display:flex;
    }
    .image-container{
        margin-right:40px;
    }
    a{
        color:white;
        background-color: $color-1;
    }
    .button{
        width: 25%;
    }
}

.smoothies{
    background-color: $color-5;
    .wrapper{
        width:100%;
        display:flex;
    }
    .text-container{
        margin: 0 10%;
        padding: 100px 0 0 0;
    }
    .button{
        width: 28%;
    }
    img{
        width:49vw;
    }
}

.home{
    background-color: $color-5;
    .wrapper{
        width:100%;
        display:flex;
    }
    .text-container{
        margin: 0 10%;
        padding: 100px 0 0 0;
        .button{
            width: 28%;
        }
    }
    img{
        width:50vw;
    }
}

/*icon gallery size*/
.fa-solid{
    font-size: 50px;
    color: $color-1;
    margin:0;
}

.icon-gallery{
    background-color: $color-6;
    ul{
        padding: 100px 0;
        display:flex;
        justify-content: space-between;
        text-align: center;
    }
    li{
        flex-basis:30%;
    }
    img{
        width:100%;
        height:auto;
        display:block;
        padding: 10px;
    }
    p{
        font-size: 31.2px;
    }
}