$fontcolor1: #042259;
$fontcolor2: #1F2022;
$fontcolor3: #1D81CC;

$backgroundcolor1: #F5C8CF;
$backgroundcolor2: #F0F5FF;
$backgroundcolor3: #FCDDE2;

$font-family1: 'Emblema One', cursive;
$font-family2: 'Barlow', sans-serif;
$font-family3: 'Catamaran', sans-serif;
