$fontcolor1: #042259;
$fontcolor2: #1F2022;
$fontcolor3: #1D81CC;
$backgroundcolor1: #F5C8CF;
$backgroundcolor2: #F0F5FF;
$backgroundcolor3: #FCDDE2;

$fontStyle1: 'EmblemaOne';
$fontStyle2: 'Barlow';
$fontStyle3: 'Catamaran';