$color-1: #042259;
$color-2: #1F2022;
$color-3: #1D81CC;

$color-4: #F5C8CF;
$color-5: #F0F5FF;
$color-6: #FCDDE2;

$font-family1: 'Emblema One', cursive;
$font-family2: 'Barlow', sans-serif;
$font-family3: 'Catamaran', sans-serif;
