h1 {
  font-size: 104.6px;
  line-height: 87.3px;
  margin: 10% 0 0 0;
}

h2 {
  font-family: "Barlow", sans-serif;
  color: #042259;
  font-size: 37.2px;
  line-height: 37.9px;
  letter-spacing: 0.3px;
  margin: 0;
}

span {
  display: block;
}

/*Social Media Icon Size*/
.fa-brands {
  font-size: 30px;
  margin: 0;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*Positions Social Media Icons to the right*/
  /*Adds spacing between social media icons*/
  margin: 0;
}
.icons ul {
  position: absolute;
  top: 120px;
  right: 50px;
}
.icons li {
  padding: 10px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
nav a {
  color: #042259;
  font-family: "Catamaran", sans-serif;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 0px 20px 15px 20px;
  /*Removes the underline*/
  text-decoration: none;
  text-align: center;
}

/*Customizing Gallery Section for NEWS APPLIANCES*/
.gallery {
  background-color: #FCDDE2;
}
.gallery h3 {
  text-align: center;
  padding: 0px 0px 70px 0;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery li {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
.gallery img {
  width: 100%;
  height: auto;
  display: block;
  padding: 10px;
}

.best {
  background-color: #FCDDE2;
}
.best .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.best .imageContainer {
  margin-right: 40px;
}
.best p {
  color: #1F2022;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  letter-spacing: 0.2px;
}
.best .button {
  width: 130px;
}
.best .button a {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  line-height: 29px;
  color: white;
  background-color: #042259;
  padding: 15px 10px;
  text-decoration: none;
  text-align: center;
}

.smoothies {
  background-color: #F0F5FF;
}
.smoothies .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.smoothies .textContainer {
  margin: 0 10%;
}
.smoothies p {
  color: #1F2022;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  letter-spacing: 0.2px;
}
.smoothies .button {
  width: 130px;
}
.smoothies .button a {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  line-height: 29px;
  color: #042259;
  background-color: #F5C8CF;
  padding: 15px 10px;
  text-decoration: none;
  text-align: center;
}

.home {
  background-color: #F0F5FF;
}
.home .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home .textContainer {
  margin: 0 10%;
}
.home p {
  color: #1F2022;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  letter-spacing: 0.2px;
}
.home .button {
  width: 130px;
}
.home .button a {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  line-height: 29px;
  color: #042259;
  background-color: #F5C8CF;
  padding: 15px 10px;
  text-decoration: none;
  text-align: center;
}

/*icon gallery size*/
.fa-solid {
  font-size: 50px;
  color: #042259;
  margin: 0;
}

.icongallery {
  background-color: #FCDDE2;
}
.icongallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.icongallery li {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
.icongallery img {
  width: 100%;
  height: auto;
  display: block;
  padding: 10px;
}
.icongallery p {
  font-size: 31.2px;
}

/*Base Style CSS for the site*/
html {
  /*Default Font set to Emblema One*/
  font-family: "Emblema One", cursive;
  /*Default Font colour set to water blue*/
  color: #1D81CC;
}

header {
  height: 100vh;
  padding: 20px 0;
  background-image: url(../assets/header-alt.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  padding: 100px 0; /*Removes padding between sections, alternatively can set padding to 0*/
}

/*Targets Section Headings*/
h3 {
  font-family: "Emblema One", cursive;
  font-size: 42px;
  margin: 0 auto;
}