span {
  display: block;
}

/*Social Media Icon Size*/
.fa-brands {
  font-size: 30px;
  margin: 0;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*Positions Social Media Icons to the right*/
  /*Adds spacing between social media icons*/
  margin: 0;
}
.icons ul {
  position: absolute;
  top: 120px;
  right: 50px;
}
.icons li {
  padding: 10px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
nav a {
  color: #042259;
  font-family: "Catamaran", sans-serif;
  background-color: transparent;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 0px 20px 15px 20px;
  /*Removes the underline*/
  text-decoration: none;
  text-align: center;
}

/*Customizing Gallery Section for NEWS APPLIANCES*/
.gallery {
  background-color: #FCDDE2;
}
.gallery h3 {
  text-align: center;
  padding: 100px 0 70px 0;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery li {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
.gallery img {
  width: 100%;
  height: auto;
  display: block;
  padding: 10px;
}

.button {
  width: 130px;
}

p {
  color: #1F2022;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  letter-spacing: 0.2px;
}

a {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  line-height: 29px;
  color: #042259;
  background-color: #F5C8CF;
  padding: 15px 10px;
  text-decoration: none;
  text-align: center;
}

.best {
  padding: 100px 0;
  background-color: #FCDDE2;
}
.best .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.best .imageContainer {
  margin-right: 40px;
}
.best a {
  color: white;
  background-color: #042259;
}

.smoothies {
  background-color: #F0F5FF;
}
.smoothies .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.smoothies .textContainer {
  margin: 0 10%;
  padding: 100px 0 0 0;
}

.home {
  background-color: #F0F5FF;
}
.home .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home .textContainer {
  margin: 0 10%;
  padding: 100px 0 0 0;
}

/*icon gallery size*/
.fa-solid {
  font-size: 50px;
  color: #042259;
  margin: 0;
}

.icongallery {
  background-color: #FCDDE2;
}
.icongallery ul {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.icongallery li {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
.icongallery img {
  width: 100%;
  height: auto;
  display: block;
  padding: 10px;
}
.icongallery p {
  font-size: 31.2px;
}

.footer {
  padding: 100px 0;
  background-color: #F0F5FF;
}
.footer .wrapper {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer nav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer nav a {
  color: #1D81CC;
  text-align: right;
  font-family: "Emblema One", cursive;
  font-size: 25px;
  margin: 0;
}

.form {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  /*Removes white space between inline block elements*/
  font-size: 0;
  /*Targets email form*/
  /*Targets Subscribe Button*/
}
.form input[type=email] {
  width: 60%;
  padding: 14px 20px;
  margin: 0 auto;
  border: 1px solid #F5C8CF;
}
.form input[type=subscribe] {
  width: 20%;
  height: 45px;
  font-size: 20px;
  font-family: "Emblema One", cursive;
  color: #042259;
  background-color: #F5C8CF;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

/*Base Style CSS for the site*/
body {
  /*Default Font set to Emblema One*/
  font-family: "Emblema One", cursive;
  /*Default Font colour set to water blue*/
  color: #1D81CC;
  /*Removes default margins/padding*/
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
  padding: 20px 0;
  background-image: url(../assets/header-alt.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  padding: 0; /*Removes padding between sections, alternatively can set padding to 0*/
}

/*Targets Webpage Title*/
h1 {
  font-size: 104.6px;
  line-height: 87.3px;
  margin: 10% 0 0 0;
}

/*Targets sub-title*/
h2 {
  font-family: "Barlow", sans-serif;
  color: #042259;
  font-size: 37.2px;
  line-height: 37.9px;
  letter-spacing: 0.3px;
  margin: 0;
}

/*Targets Section Headings*/
h3 {
  font-family: "Emblema One", cursive;
  font-size: 42px;
  margin: 0 auto;
}

/*Targets Footer Headings*/
h4 {
  font-family: "Emblema One", cursive;
  font-size: 25px;
  margin: 0;
}

p {
  color: #1F2022;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  letter-spacing: 0.2px;
}