@use 'partials/setup'; //uses partial file for setup
@use 'partials/variables' as *;
@use 'partials/header';
@use 'partials/main';
@use 'partials/footer';
@use 'partials/mediaqueries';

/*Base Style CSS for the site*/
body {
    /*Default Font set to Emblema One*/
    font-family: $font-family1;
    /*Default Font colour set to water blue*/
    color: $color-3;
    /*Removes default margins/padding*/
    margin:0;
    padding:0;
}

header{
    height:100vh;
    padding: 20px 0;
    background-image: url(../assets/header-alt.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper{
    width:80%;
    margin: 0 auto;
}

ul {
    margin:0;
    padding:0;
    list-style: none;
}

section{
    padding:0;/*Removes padding between sections, alternatively can set padding to 0*/
}

span{
    display:block;
}

/*Targets Webpage Title*/
h1 {
    font-size: 104.6px;
    line-height: 87.3px;
    margin:10% 0 0 0;
}

/*Targets sub-title*/
h2{
    font-family: $font-family2;
    color: $color-1;
    font-size: 37.2px;
    line-height:37.9px;
    letter-spacing: 0.3px;
    margin:0;
}

/*Targets Section Headings*/
h3{
    font-family: $font-family1;
    font-size: 42px;
    margin:0 auto;
}

/*Targets Footer Headings*/
h4{
    font-family: $font-family1;
    font-size: 25px;
    margin:0;
}

p{
    color: $color-2;
    font-family: $font-family2;
    font-size:20px;
    letter-spacing: 0.2px;
}

a{
    display: inline-block;
    width:100%;
    font-size: 20px;
    line-height: 29px;
    color:$color-1;
    background-color: $color-4;
    padding: 15px 10px;
    text-decoration: none;
    text-align: center;
}

@media(max-width:768px){
    header{
        height:100vh;
        background-image: url(../assets/header-alt-mobile.png);
        background-size: cover;
    }
    .wrapper{
        width: 90%;
        flex-direction: column;
        justify-content: center;
    }
}